{% extends "base.html" %} {% block content %}
<h3>Enter Grades</h3>
<form method="POST">
    <div class="mb-3">
        <label>Subject</label>
        <input type="text" name="subject" class="form-control" required>
    </div>

    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>
                    <input type="text" name="grade_{{ student[0] }}" class="form-control" required>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Submit Grades</button>
</form>
{% endblock %}